:root {
    --text-color: #A69AA6;
    --white-color: #fff;
    --hover-color: #f9f9f9;
    --gray-color: #555555;
    --white-gray-color: #A3A3A3;

    --header-background-color: rgba(0, 0, 0, 0.12);
    --header-height: 104px;

    --red-color: #F76570;
    --orange-color: #F3A46B;
    --yellow-color: #FFD205;
    --green-color: #1BBC9B;
    --blue-color: #14B9D5;
    --brown-color: #E27557;
    --purple-color: #BA71DA;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%; /* 10px */
    line-height: 1.6rem; /* 16px */
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 38px;
    text-decoration: none;
    font-size: 1.4rem;
    outline: none;
    display: block;
    line-height: 1.4rem;
    background-color: var(--white-color);
    transition: box-shadow 0.3s ease;
}

.s-btn {
    padding: 10px 25px;
}

.m-btn {
    padding: 15px 25px;
}

.l-btn {
    padding: 15px 35px;
}

.btn:hover {
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
}

.bgcolor-red {
    background-color: var(--red-color);
}
.bgcolor-orange {
    background-color: var(--orange-color);
}
.bgcolor-yellow {
    background-color: var(--yellow-color);
}
.bgcolor-blue {
    background-color: var(--blue-color);
}
.bgcolor-green {
    background-color: var(--green-color);
}
.bgcolor-brown {
    background-color: var(--brown-color);
}
.bgcolor-purple {
    background-color: var(--purple-color);
}

.bgcolor-gray {
    background-color: var(--gray-color);
}

.text-right {
    text-align: right;
}

.text-line-through {
    text-decoration: line-through;
    opacity: 0.5;
}

.text-underline {
    text-decoration: underline;
}

.label__highlight {
    background-color: #F76570;
    color: var(--white-color);
    margin-left: 16px;
    border-radius: 2px;
    font-size: 1rem;
    padding: 3px 4px;
    text-align: center;
    align-items: center;
    position: relative;
    top: -2px;
}

.wrap--cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
}

.content__header-base {
    text-align: center;
    letter-spacing: 2px;
}

.content__header-base p {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-top: 0;
}

.content__header-base h1 {
    color: #555555;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    padding-bottom: 32px;
    letter-spacing: 1px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes menuFadeIn {
    from {
        transform: translateX(350px);
    }
}

@keyframes menuFadeOut {
    to {
        /* opacity: 0; */
    }
}