.slider {
    background-image: url(../img/News/news.jpg);
}

.news__content {
    padding-top: 34px;
    padding-bottom: 64px;
}

.news__item {
    display: flex;
    margin-top: 30px;
}

.news__item-img-wrap {
    width: 50%;
    position: relative;
}

.news__item-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}   

.news__item-content {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}

.news__item-content-heading {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 1.5px;
    color: var(--text-color);
}

.news__item-content-name {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    padding-top: 15px;
    color: var(--gray-color);
}

.news__item-content-desc {
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 1px;
    padding: 24px 0;
    color: var(--text-color);
}

.news__item-content-link {
    letter-spacing: 1.3px;
}
