@media (min-width: 1024px) and (max-width: 1400px) {
    .header__list-item {
        padding: 30px 10px;
    }

    .header__row {
        flex-wrap: unset;
    }
}

/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        background-color: var(--gray-color);
    }
    
    .header__logo {
        margin-top: 15px;
        width: 100%;
    }

    .header-menu-btn,
    .header-mobile-menu-btn {
        text-align: center;
        padding: 15px;
    }

    .header-menu-btn__icon,
    .header-mobile-menu-btn__icon {
        margin: 0;
    }
    
    .slider__header,
    .slider__text {
        max-width: 90%;
        text-align: center;
    }

    .slider__select-wrap.home{
        width: 90%;
    }

    .slider__select {
        width: 100%;
    }

    .slider__category {
        width: 100%;
        flex-direction: column;
    }

    .slider__category-item {
        width: 90%;
    }

    .view__content-btn {
        align-items: center;
    }

    .view__content-btn a {
        margin: 30px 0 0;
        
    }

    .reserves__container-content-text {
        margin-bottom: 40px;
    }

    .footer__heading-send-input {
        width: 100%;
    }

    .footer__content-text-list-dist-item {
        margin-top: 30px;
    }

    .footer__content-end span {
        text-align: center;
        padding: 15px;
    }

    /* Packages */
    .slider__container {
        padding-bottom: 0;
    }
    .slider__form {
        margin-bottom: 0;
    }

    .slider__select {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .reserves-footer__list-item {
        margin-bottom: 40px;
    }

    .destinations__item {
        height: 640px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .view__content-title {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }

    .reserves__container-content-count-down-container {
        width: 100%;
    }

    .reserves-footer__list-item {
        padding: 30px;
    }

    .footer__heading {
        padding: 30px;
    }

    .footer__content-text,.footer__content-end {
        width: 90%;
        margin: 0 auto;
    }

    /* Packages */
    .slider__more-container {
        width: unset;
        transform: none;
        top: 50px;
    }

    /* Shop */
    .promotions__list-item {
        padding-left: 30px;
        padding-right: 30px;
    }
}